#body{
  display: grid;
  grid-template-rows: 2fr 20fr 1fr;
  grid-template-columns: 1fr 5fr;
  height: 100vh;


}
.sidebar{
  background-color: aqua;
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  padding:0px ;
}
.sidebar li{
  list-style-type: none;
  border-bottom: 0.5px solid gray;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.active{
 background-color: aliceblue;
}
.show{
  background-color: beige;
}
.sidebar li:hover{
 background-color: aliceblue;
}
.stockFlow{
  display: grid;
  grid-template-rows: 27px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  
}
.stockCat{
  font-weight: bold;
}
.stockCat p{
  margin: 0;
  margin-top: 5px;
  border-bottom: 1px solid black;
}